.footer {
  padding: $separacion / 2 0;
  background-color: $grisOscuro;
  margin-bottom: 0;

  .contenedor-footer {
    padding-top: ($separacion / 2);
  }
  .copyright {
    color: $blanco;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
